.main
  .main__group
    .main__group__left
      .main__group__left__name
        gdfg
      .main__group__left__member
        %h Member:masa
    .main__group__right
      = link_to "#", class: "edit" do
        Edit  
  .message
    .message__info1
      .message__info1__main
        .message__info1__main__talker1
          aaaaaa
        .message__info1__main__date
          2019/12/25(Wed)23:39:17
      .message__info1__text1
        gjhgfdg
    -# .message__info2
    -#   .message__info2__main
    -#     .message__info2__main__talker2
    -#       %p bbbbbbb
    -#     .message__info2__main__date
    -#       %p 2019/12/26(Wed)23:39:17
    -#   .message__info2__text2
    -#     %p jkgfdhvgchgfhgchgvgcjvgc
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'