.side-bar
  .side-bar__user-name
    .top-header
      .top-items
        %p.side-header__username
          fyfd
        %ul.side-header__menu
          %li.side-header__edit-user
            = link_to "#" do
              = icon("fas", "edit",class: 'strong')
          %li.side-header__new-group
            = link_to "#" do
              = icon("fas", "cog",class: 'strong')
  .groups
    = link_to "#", class: "group" do
      %p.group__group-name
        gdfg
      %p.group__latest-message
        まだメッセージがありません