.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-header
      .side-bar__user-name__top-items
        %p.side-bar__user-name__top-items__names
          fyfd
        %ul.side-bar__user-name__top-items__menu
          %li.side-bar__user-name__top-items__menu__edit-user
            = link_to new_group_path do
              = icon("fas", "edit",class: 'strong')
          %li.side-bar__user-name__top-items__menu__new-group
            = link_to "#" do
              = icon("fas", "cog",class: 'strong')
  .groups
    - current_user.groups.each do |group|
      .groups__box
        = link_to '#' do
          .group__box__name
            = group.name
          .group__box__latest-message
            メッセージはまだありません。
